assistant_transfer/Miniconda3-latest-Linux-x86_64.sh
assistant_transfer/downloads/jetbrains-toolbox-2.5.2.35332.exe

assistant_transfer/downloads/jetbrains-toolbox-2.5.2.35332.exe
assistant_transfer/Miniconda3-latest-Linux-x86_64.sh
